URL = http://localhost:8080
LASTFM_API_KEY = 8746aa44d233b8d4a2d9a2e562e99de1
LASTFM_USERNAME = beardedtechguy
HARDCOVER_TOKEN = Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJIYXJkY292ZXIiLCJ2ZXJzaW9uIjoiOCIsImp0aSI6IjRiZmUyMGUwLTNjMzctNDFmNy1iNjAwLWMwY2QyMTFkNTRhZSIsImFwcGxpY2F0aW9uSWQiOjIsInN1YiI6IjY2MDgiLCJhdWQiOiIxIiwiaWQiOiI2NjA4IiwibG9nZ2VkSW4iOnRydWUsImlhdCI6MTc3NTI1MDYyNCwiZXhwIjoxODA2Nzg2NjI0LCJodHRwczovL2hhc3VyYS5pby9qd3QvY2xhaW1zIjp7IngtaGFzdXJhLWFsbG93ZWQtcm9sZXMiOlsidXNlciJdLCJ4LWhhc3VyYS1kZWZhdWx0LXJvbGUiOiJ1c2VyIiwieC1oYXN1cmEtcm9sZSI6InVzZXIiLCJYLWhhc3VyYS11c2VyLWlkIjoiNjYwOCJ9LCJ1c2VyIjp7ImlkIjo2NjA4fX0.gIbINY_xFXS9pK6jnosu0XZoXLwuUVEKrsJyMtANrVw