.discuss-mastodon {
    border: 1px solid var(--color-gray-400);
    border-radius: 5px;
    font-size: var(--size-step-min-2) !important;
    font-family: var(--font-base);
    margin: 2em auto;
    padding: 2em 2em 0 2em;;

}

.mastodon-post {
    box-shadow: none;
    font-size: var(--size-step-min-2) !important;
    font-family: var(--font-base);
    margin: 0 auto;
}

.mastodon-post p {
    font-size: var(--size-step-min-2) !important;
    font-family: var(--font-base);
}

.mastodon-post span {
    font-size: var(--size-step-min-2) !important;
    font-family: var(--font-base);
}


a.mastodon-post, a.mastodon-post:link, a.mastodon-post:visited  {
    font-size: var(--size-step-min-2) !important;
    font-family: var(--font-base);
}

blockquote.mastodon-post-quote  {
    font-size: var(--size-step-min-2) !important;
    font-family: var(--font-base);
    border-left: none !important;
    width: auto !important;
}

.mastodon-post__caption {
    margin: 1.5em 1em
}

.mastodon-post__stats {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    margin: 1.5em 0 0
}

.mastodon-post__stat dt,.mastodon-post__stat dd {
    display: inline-block;
    margin: 0
}

.mastodon-post__stat dd {
    margin-left: .5em
}