<script src="{% getBundleFileUrl "js", "defer" %}" type="module"></script>
<script src="https://kit.fontawesome.com/fb3ee9d8ef.js" crossorigin="anonymous" defer></script>
<script defer src="https://tinylytics.app/embed/aK6PBymtmDm6DxSXaP2H/min.js"></script>