{% set assetHash = helpers.random() %}

<!doctype html>
<html lang="{{ meta.lang }}">
  <!-- The order of elements in the head follows recommendations by Harry Roberts. learn more here: https://www.youtube.com/watch?v=MHyAOZ45vnU -->

  <head>
    <!-- 1 charset/viewport -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 2 title -->
    <title>
       {{ title }} - {{ meta.siteName }}
    </title>

    <base href="{{ page.url }}" />

    <!-- 3 synchronous js  -->
    {% include "head/js-inline.njk" %}

    <!-- 4 schema settings -->
    {% include "head/schema.njk" %}

    <!-- 5 CSS  -->
    <!-- <link rel="stylesheet" href="/assets/css/global.css?{{ assetHash }}" /> -->
    {% include "head/css-inline.njk" %}

    <!-- 6 preloads  -->
    {% include "head/preloads.njk" %}

    <!-- 7 defer  -->
    {% include "head/js-defer.njk" %}

    <!-- 8 meta tags, icons, open graph etc.  -->
    {% include "head/meta-info.njk" %}
  </head>

  <body class="{{ layout }}">
    {% set indicateActiveHome %}
      {% if page.url == "/" %}
        aria-current=page
      {% endif %}
    {% endset %}
    {% include "partials/header.njk" %}

    <main id="main" class="flow">{{ content | safe }}</main>

  <div class="wrapper prose text-center text-step-min-1">
    <p>This site is member of the following webrings!</p>

    <!-- 2-column badge grid -->
    <div class="badge-grid cols-2">
      <div class="badge">
    <a class="no-indicator" href="https://fediring.net/previous?host=www.kylereddoch.me">←</a>
    <span>Fediring</span>
    <a class="no-indicator" href="https://fediring.net/next?host=www.kylereddoch.me">→</a>
  </div>
    <div class="badge">
    <a class="no-indicator" href="https://xn--sr8hvo.ws/previous">←</a>
    <span>IndieWeb Webring</span>
    <a class="no-indicator" href="https://xn--sr8hvo.ws/next">→</a>
  </div>
    </div>
  <div class="badge-grid cols-1">
    <p>
        👻 Proud member of <a href="https://darktheme.club">darktheme.club</a> 👻
      </p>
      </div>
  </div>

    {% include "partials/footer.njk" %}
    {%- if meta.easteregg -%}
      <script type="module" src="/assets/scripts/components/custom-easteregg.js"></script>
      <custom-easteregg></custom-easteregg>
    {%- endif -%}
    <script type="module" src="/assets/scripts/components/mastodon-post.js"></script>
    <script src="https://tinylytics.app/embed/aK6PBymtmDm6DxSXaP2H.js" defer></script>
  </body>
</html>
