---
layout: base
---

<div class="region wrapper flow prose" style="--region-space-top: var(--space-2xl)">
  <h1 class="gradient-text" style="font-size: var(--size-step-6) !important;">{{ title }}</h1>
  {{ content | safe }}
</div>
