---
layout: base
---

<div class="region">
  <div class="wrapper flow prose">
    <h1 class="gradient-text-linear text-step-4">{{ title }}</h1>
    <p>Below is a list of all the tags used in the blog.</p>
    {{ content | safe }}
  </div>
</div>
