---
layout: redirect
permalink: /newsletter/defenders-dispatch/issue-008/2026-10-02/index.html
title: Defender’s Dispatch Issue 008
redirectTo: /newsletter/defenders-dispatch/issue-008/2026-10-05/
eleventyExcludeFromCollections: true
excludeFromSearch: true
excludeFromSitemap: true
---
