---
layout: redirect
permalink: /projects/ripfoundry-for-windows/index.html
title: RipFoundry for Windows
redirectTo: /apps/ripfoundry-for-windows/
eleventyExcludeFromCollections: true
excludeFromSearch: true
excludeFromSitemap: true
---
