---
permalink: /feed.json
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{% set postslist = collections.feedEntries %}

{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ meta.blog.name }}",
  "language": "{{ meta.lang or page.lang }}",
  "home_page_url": "{{ meta.url | addPathPrefixToFullUrl }}",
  "feed_url": "{{ permalink | htmlBaseUrl(meta.url) }}",
  "description": "{{ meta.blog.description }}",
  "authors": [{ "name": "{{ meta.author.name }}" }],
  "items": [
    {%- for post in postslist -%}
    {%- set absolutePostUrl = post.url | absoluteUrl(meta.url) -%}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title }}",
      "content_html": {{ post.content | renderTransforms(post.data.page, meta.url) | appendTinylyticsPixel(post.url, meta.analytics.tinylytics.siteCode) | dump | safe }},
      "date_published": "{{ post.date | dateToRfc3339 }}"
    }{% if not loop.last %},{% endif %}
    {%- endfor -%}
  ]
}
