---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.showInSitemap %}
    {% if page.url and page.data.excludeFromSitemap != true %}

      {% set lastmod = page.data.lastModified or page.data.lastUpdated or page.data.updated or page.data.modified or page.data.publishedAt or page.data.published_at or page.data.date %}

      <url>
        <loc>{{ meta.url }}{{ page.url }}</loc>
        {% if lastmod %}
        <lastmod>{{ lastmod | toIsoString }}</lastmod>
        {% endif %}
        <changefreq>{{ page.data.changeFreq if page.data.changeFreq else "monthly" }}</changefreq>
    </url>
    {% endif %}
  {% endfor %}
</urlset>
