---
layout: tags
pagination:
  data: collections.tagPages
  size: 1
  alias: tagPage
permalink: "{{ tagPage.permalink }}"
eleventyComputed:
  tag: "{{ tagPage.tag }}"
  title: "{{ meta.blog.tagSingle }}{{ tagPage.tag }}{% if tagPage.pageNumber > 0 %} ({{ meta.blog.paginationPage }} {{ tagPage.pageNumber + 1 }}){% endif %}"
---

<custom-masonry layout="50-50">
  {% for item in tagPage.items %}
    {% include "partials/card-tag.njk" %}
  {% endfor %}
</custom-masonry>

{# Reuse your existing pagination partial, unchanged #}
{% set metaKey = "blog" %}
{% if tagPage.totalItems > tagPage.size %}
  {% set pagination = tagPage.pager %}
  {% include 'partials/pagination.njk' %}
{% endif %}

<h2 class="text-step-2">More {{ meta.blog.tagMore }}</h2>

<ul class="taglist | my-s-m cluster gutter-s" role="list">
  {% for tag in collections.tagList %}
    <li>
      <a
        href="/tags/{{ tag | slugify }}/"
        class="button"
        {{
          helpers.getLinkActiveState('/tags/' + tag | slugify + '/', page.url)
          | safe
        }}
      >
        #{{ tag }}
      </a>
    </li>
  {% endfor %}
</ul>
